*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}


body{
 background-color: rgb(51, 44, 44);

}
    


/*header bölümü*/
.up{

    display: flex;
    justify-content: space-around;
    margin: 2rem 0rem 2rem 0rem;
}

.up > ul > li > a,
.up > a{

    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    
}
.up > ul{
     list-style: none;
     display: flex;
     gap: 16rem;
    
}

/*----------------------*/
.down{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0rem 2rem 0rem;
}

.down > ul > li > a ,
.down > a{
     color: azure;
     text-decoration: none;
     text-transform: uppercase;
     

}

.down > ul{
  list-style: none;
  display: flex;
  gap: 7rem;

}

/*main bölümü*/


/*footer bölümü*/

footer{
    position: fixed;
    width: 100%;
    flex-direction:column;
}



footer > article{
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;

}
