*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/images/arkaplan\ 2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*header bölümü*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
nav > a,
nav > ul > li > a{
    color: rgb(244, 248, 3);
    text-decoration: none;
    text-transform: uppercase;
}
nav > ul{list-style: none;}
nav > ul > li{float: left;}
nav > ul > li > a{
    float: left;
    margin-left: 4rem;
    margin-right: 0.5rem;
}

/*main bölümü*/
section{
    display: flex;
    justify-content: space-between;
    margin: 10rem;
    align-items: center;
}
section > figure > img{
    width: 500px;
    height: auto;
}
section > article > h2 , h4{
    font-size: 25px;
    color:rgb(244, 248, 3);
}

/*footer bölümü*/

footer{
    display: flex;
    justify-content: center;
    padding: 1rem;

}
footer > ul{list-style: none;}
footer > ul > li{
    float: left;
    margin-right: 50vh;
    margin-top: 8.5vh;
}
footer > ul > li > a{
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
}
footer > a,
footer > ul > li > a{
    color: rgb(244, 248, 3);
    text-decoration: none;
    text-transform: uppercase;
}
header > nav > a img{ 
   
    max-width: 150px;
    height: auto;

}
footer > ul > li,
a > img{

    
}

